<%= image_tag("mountside.png", class: "fixed bottom-0 right-0 -z-10") %>

<div class="mt-4 p-4 md:px-20 lg:px-40 xl:px-60 bg-white bg-opacity-50 font-cormorant font-semibold flex flex-col transition-all">
  <p class="font-aboreto text-2xl my-6">The Better Part of Yesterday</p>
  <p>My heart is a deserted street<br>in the middle of winter, dead<br>leaves skittering in the dying<br>afternoon light. I am a stop sign<br>riddled with bullet holes,<br>pinpricks of sunlight streaming<br>through me. And you? You are<br>everything –the light and shadow,<br>the broken glass pane in which you<br>can see everything. You are a street<br>upon which I used to live, and I<br>don’t need a house to haunt you.
</p>
  <p class="font-bold self-start mr-20 ml-[15%] transition-all">- M. Brooks</p>
</div>
<div class="mt-4 p-4 md:px-20 lg:px-40 xl:px-60 bg-white bg-opacity-50 font-cormorant font-semibold flex flex-col transition-all">
  <p class="font-aboreto text-2xl my-6">Big Cut Station, Virginia</p>
  <p>I came late into the world, to<br>my folks and their kin before<br>them. I didn’t come by the behest<br>of some country to be beholden.<br>And the love of Mama and Pa<br>was the Gum Arabic<br>to the blackberry ink of their<br>mixed blood in me.<br>Where my cheeks are pocked<br>with iodine stains, I have shorn<br>my wilderness, have nicked<br>my past uneasily:<br>my highland way, torn between<br>allegiance to a dignity<br>I don’t need to flaunt, and a<br>preference for warmth<br>in the windborne<br>cliffs that never howl my name. 
</p>
  <p class="font-bold self-end mr-20 lg:mr-[85%] transition-all">- W. R. Moore</p>
</div>
<div class="mt-4 p-4 md:px-20 lg:px-40 xl:px-60 bg-white bg-opacity-50 font-cormorant font-semibold flex flex-col transition-all">
  <p class="font-aboreto text-2xl my-6">Flowered</p>
  <p>Skin so red, it’s not the blood, but petals fallen from the poppies<br>growing on his grave.<br>He fell, you broke under his gaze, and shells you gathered on the beach were rubble,<br>broken feet from stepping over, finding no one.<br>Shards were words he gasped in tongues you couldn’t recognise,<br>now you can’t ask him as he chose the easy way,<br>a tattered note, letters you were blinded to and couldn’t bear to read<br>until the anger cooled.<br>Now you’re left with bitterness, and everything tastes sour<br>except the sweet taste of finality.
  </p>
  <p class="font-bold self-end mr-20 lg:mr-[85%] transition-all">- E. Rosier</p>
</div>



<div class="flex flex-col ml-6 mt-6 font-aboreto h-[40vh]">
  <%= link_to "Mission", home_mission_path, class: ""%>
  <%# link_to "Issue Zero", issue_zero_path, class: ""%>
  <% @asset = asset_url("issuezero.pdf") %>
  <%= link_to "Issue Zero", pdfjs.minimal_path(file: @asset) %>
</div>
