<%= image_tag("mountside.png", class: "fixed bottom-0 right-0") %>

<div class="mt-12 flex flex-col w-full items-center">
  <p class="font-aboreto md:text-4xl text-2xl transition-all">Mission</p>
  <p class="font-cormorant md:text-xl text-lg mt-4 transition-all">Print the good stuff</p>
</div>