@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-yellow {
    @apply transition-all py-2 px-4 min-w-fit text-center bg-gradient-to-t from-yellow-400 hover:from-yellow-300 via-amber-300 hover:via-amber-200 to-orange-200 hover:to-orange-100 rounded-full font-cormorant font-bold text-gray-700 focus:text-white focus:border-2 focus:border-white shadow-[inset_0_-2px_4px_rgba(255,255,255,0.5)];
  }

  .btn-green {
    @apply transition-all py-2 px-4 min-w-fit text-center bg-gradient-to-t from-green-400 hover:from-green-300 via-emerald-300 hover:via-emerald-200 to-teal-200 hover:to-teal-100 rounded-full font-cormorant font-bold text-gray-700 focus:text-white focus:border-2 focus:border-white shadow-[inset_0_-2px_4px_rgba(220,220,255,0.2)];
  }

  .btn-blue {
    @apply py-2 px-4 min-w-fit text-center bg-gradient-to-t from-sky-400 hover:from-sky-300 via-cyan-300 hover:via-cyan-200 to-teal-200 hover:to-teal-100 rounded-full font-cormorant font-bold text-gray-700 focus:text-white focus:border-2 focus:border-white shadow-[inset_0_-2px_4px_rgba(220,220,255,0.2)];
  }

  .btn-grey {
    @apply py-2 px-4 min-w-fit text-center bg-gradient-to-t from-stone-500 hover:from-stone-600 via-neutral-300 hover:via-neutral-400 to-zinc-200 hover:to-zinc-300 rounded-full font-cormorant font-bold text-gray-700 focus:text-white focus:border-2 focus:border-white shadow-[inset_0_-2px_4px_rgba(220,220,255,0.2)];
  }

  .inset-shadow {
    @apply shadow-[inset_0_-2px_4px_rgba(255,255,255,0.5)];
  }

  .container-alert {
    @apply flex flex-col justify-center w-[100vw] fixed bottom-10
  }

  .alert {
    @apply bg-orange-300 text-slate-900 border border-slate-700 px-6 flex w-[80vw] rounded-tl-[3.2rem] rounded-tr-xl rounded-br-[3.2rem] rounded-bl-xl font-cormorant p-4 justify-between items-center fixed bottom-4 left-10;
  }

  .notice {
    @apply text-white border border-slate-100 px-6 flex w-[80vw] rounded-tl-[3.2rem] rounded-tr-xl rounded-br-[3.2rem] rounded-bl-xl font-cormorant p-4 justify-between items-center fixed bottom-4 left-10;
  }

  .poem {
    @apply mt-4 p-4 md:px-20 lg:px-40 xl:px-60 bg-white bg-opacity-50 font-cormorant font-semibold flex flex-col transition-all;
  }
}

@keyframes bg-animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

body {
  animation: bg-animate 120s infinite;
}