<nav data-controller="navbar" class="sticky top-0 bg-green-900 no-underline w-full px-4 md:px-12 py-2">
  <div class="flex flex-row items-center justify-between">
    <div class="font-aboreto transition-all text-2xl md:text-4xl lg:text-6xl text-white"><span class="text-xl lg:text-2xl font-josefin align-middle">the</span>L<span class="text-2xl lg:text-3xl align-top font-josefin -ml-1 md:-ml-2">one</span>M<span class="text-2xl align-top lg:text-3xl font-josefin md:-ml-1">ountain</span>L<span class="text-2xl align-middle lg:text-3xl font-josefin md:-ml-1">iterary</span>S<span class="text-2xl lg:text-3xl align-bottom font-josefin">ociety</span></div>
    <div class="flex flex-col items-center gap-2 font-josefin text-white">
      <div class="font-aboreto text-md md:text-lg lg:text-xl transition-all">Support</div>
      <div class="flex flex-row justify-evenly gap-2 text-md lg:text-lg transition-all">
        <p class="">Subscribe</p>
        <span>~</span>
        <p class="">Donate</p>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center px-12 font-aboreto font-bold text-md lg:text-lg text-white gap-4 md:gap-6 lg:gap-8 transition-all ml-2">
    <p>Fiction</p>
    <p>Poetry</p>
    <p>Art</p>
    <p>Interviews</p>
    <p>Folios</p>
    <p>Profiles</p>
  </div>
</nav>